html,
body {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

#st-bar-header {
    /* background-color: rgba(27, 27, 30, 0.5); */
    background-color: rgba(27, 27, 30, 0.5);
    border-bottom: 2px solid #E5E7EB;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 115;
}

#hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translateY(0.4rem);
}

#hamburger.active span:nth-child(2) {
    opacity: 0;
    /* Hide the middle line */
}

#hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translateY(-0.4rem);
}

#hamburger span {
    transition: transform 0.3s ease, opacity 0.3s ease;
}


.fade-in {
    animation: fadeIn 1s ease-in-out;
}

.pop-in {
    animation: pop-in 0.3s ease-out forwards;
}

.pop-out {
    animation: pop-out 0.3s ease-in forwards;
}

.box {
    opacity: 0;
}

.box.pop-in {
    transform: scale(0);
    opacity: 1;
    /* Start at scale 0 for pop-in */
}

#mobile-menu {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    /* background-image: linear-gradient(to right, #1f2937, #030712); */
    opacity: 1;
    z-index: 101;
    /* transform: translateX(-100%); */
    /* Start off-screen */
    /* transition: transform 0.3s ease-out; */
    /* transition: all 0.3s ease-in-out; */
    /* For smooth transition */
}

#mobile-menu.show {
    animation: fadeIn 0.5s forwards;
    /* Slide in animation */
}

#mobile-menu.hide_my {
    animation: fadeOut 0.5s forwards;
    /* Slide out animation */
}

#hamburger {
    position: relative;
    /* Make it a positioned element */
    z-index: 115;
    /* Higher z-index to keep the button on top */
}

#sticky-logo {
    position: fixed;
    width: 100vw;
    height: 100vh;

}

#svg-logo {
    position: fixed;
    width: 20vw;
    height: 30vw;
    /* height: 5px; */
    top: calc(50vh - 21vw);
    left: calc(50vw - 10vw);
    /* transform: translate(-50%); */
    transition: all 0.5s linear;
    z-index: 100;
}

#svg-name {
    position: fixed;
    width: 50vw;
    height: 10vw;
    top: calc(50vh + 11vw);
    left: calc(50vw - 25vw);
    /* transform: translate(-50%); */
    transition: all 0.5s linear;
    z-index: 100;
}

.svg-tr-style-0 {
    /* fill: #F9BA2D; */
    fill: #ffffff;
    fill-opacity: 0.8;
    stroke: #ffffff;
    stroke-width: 0;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

.svg-tr-style-1 {
    /* fill: #989C99; */
    fill: #ffffff;
    fill-opacity: 0.8;
    stroke: #ffffff;
    stroke-width: 0;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

.svg-fix-style-0 {
    /* fill: #F9BA2D; */
    fill: #ffffff;
    fill-opacity: 1;
    stroke: #ffffff;
    stroke-width: 0;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

.svg-fix-style-1 {
    /* fill: #989C99; */
    fill: #ffffff;
    fill-opacity: 1;
    stroke: #ffffff;
    stroke-width: 0;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

.fb-icon {
    /* background-color: #3b5998; */
    transition: all 0.3s ease-in-out;

    &:hover {
        border-radius: 100%;
    }

    &:active {
        scale: 0.85;
    }
}

.ig-icon {
    /* background-color: #bc2a8d; */
    transition: all 0.3s ease-in-out;

    &:hover {
        border-radius: 100%;
    }

    &:active {
        scale: 0.85;
    }
}

.ws-icon {
    /* background-color: #25d366; */
    transition: all 0.3s ease-in-out;

    &:hover {
        border-radius: 100%;
    }

    &:active {
        scale: 0.85;
    }
}

#projects {
    position: relative;
    height: 100vh;
    width: 100vw;
    --offset: 7rem;
    --fsize: 2rem;
    /* background-image: url("https://group.met.com/media/mjmlu0xi/solar-energy.jpg?anchor=center&mode=crop&width=1000&rnd=133269055835230000&mode=max&upscale=false"); */
    /* background-position: center;
    background-repeat: none;
    background-size: cover; */


    h2 {
        /* background-color: #ff0000; */
        position: absolute;
        width: fit-content;
        left: 50vw;
        top: var(--offset);
        font-size: var(--fsize);
        transform: translate(-50%);
        z-index: 102;
    }

    p {
        position: absolute;
        /* background-color: white; */
        height: 0.2rem;
        width: 50vw;
        left: 25vw;
        top: calc(var(--fsize) + var(--offset) + 0rem);
        z-index: 102;
    }

    @media (min-width: 640px) {
        p {
            width: 30vw;
            left: 35vw;
        }
    }

    img, video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        /* z-index: 90; */
        object-fit: cover;
        object-position: center;
        transition: all 500ms ease-in-out;
    }
}

.gradient {
    width: 100vw;
    height: 20vh;
    position: absolute;
    z-index: 80;
}

.bottom {
    bottom: 0;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 10%, #1b1b1e);
}

.top {
    top: 0;
    /* height: 40vw; */
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), #1b1b1e 50%);

}

#project-desc {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), #1b1b1e);
    position: absolute;
    width: max-content;
    height: max-content;
    bottom: 0;
    right: 0;
    padding-right: 2rem;
    padding-bottom: 1rem;
    z-index: 102;
    text-align: right;
    color: white;
}

.tooltip {
    position: absolute;
    width: max-content;
    top: 100%;
    /* Initially hidden above the container */
    left: 50%;
    transform: translateX(-50%);
    padding: 0.6em 1em;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s;
    border-radius: 3rem;
    background: #e0e0e2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 200;
    /* opacity: 1;
    visibility: visible; */
}

/* Triangle arrow for the bubble tooltip */
.tooltip::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-100%);
    border-style: solid;
    border-width: 0 8px 8px;
    border-color: transparent transparent #e0e0e2;
}

@keyframes camera-move-1 {
    0% { object-position: 50% 50%; }
    100% { object-position: 65% 40%; }
}

@keyframes camera-move-2 {
    0% { object-position: 50% 50%; }
    100% { object-position: 35% 60%; }
}

@keyframes camera-move-3 {
    0% { object-position: 50% 50%; }
    100% { object-position: 70% 50%; }
}


@keyframes pop-in {
    0% {
        transform: scale(0);
    }

    70% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes pop-out {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.9;
    }
}

@keyframes fadeOut {
    from {
        opacity: 0.9;
    }

    to {
        opacity: 0;
    }
}


.loader {
    width: 20px;
    height: 20px;
    display: block;
    /* margin: 10px 5px; */
    margin-bottom: 15px;
    margin-right: 5px;
    box-sizing: border-box;
    position: relative;
  }
  
  .loader::after {
    content: '';
    width: 20px;
    height: 20px;
    left: 0;
    bottom: 0;
    position: absolute;
    border-radius: 50% 50% 0;
    border: 6px solid #D72638;
    transform: rotate(45deg) translate(0, 0);
    box-sizing: border-box;
    animation: animMarker 0.4s ease-in-out infinite alternate;
  }
  
  .loader::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 150%;
    width: 14px;
    height: 4px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
    animation: animShadow 0.4s ease-in-out infinite alternate;
  }
  
  @keyframes animMarker {
    0% {
      transform: rotate(45deg) translate(3px, 3px);
    }
  
    100% {
      transform: rotate(45deg) translate(-3px, -3px);
    }
  }
  
  @keyframes animShadow {
    0% {
      transform: scale(0.5);
    }
  
    100% {
      transform: scale(1);
    }
  }


.whatsappfx { 
    position: fixed;
    width: 6rem;
    height: 6rem;
    bottom: 0;
    right: 0;
    margin: 20px;
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    transition: all ease-in-out 200ms;
}

.whatsappfx:hover {
    scale: 1.1;
}

.whatsappfx:active {
    scale: 0.8;
}